# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
ENV/
.venv/

# Streamlit local state
.streamlit/secrets.toml

# OS generated
.DS_Store
Thumbs.db
